*{
    box-sizing: border-box;
    color: rgb(187, 182, 174);
    background-color: rgb(8, 4, 33);
  }

  body {
    margin: 0;
    font-family: Inter, sans-serif;



  }

  .Icons {
    background-color: rgb(19, 19, 23);
    font-weight: 300;
    font-size: 22px;
  }

  